.statistics-wrapper {
    display: flex;
    flex-direction: column;

}

.statistics-up,
.statistics-down {
    display: flex;
}

.chart_data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
}